body {
  margin: 0;
  padding: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(5, 5, 5, 0.879);
}
/* control nav bar dimensions */
.nav-bar {
  height: 60px;
  width: 100%;
}
/* display of the navigation items */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* make left side items stay put */
.left-side {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 40vw;
}
/* box for the navigation bar button */
.side-but {
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: center;
}
/* control svg image */
.side-but svg {
  height: 37px;
  margin-left: 10px;
  color: white;
  width: 100%;
}

/* image control */
.nav-bar img {
  object-fit: cover;
}
/* round corners on logo image */
.logo img {
  border-radius: 10px;
}
/* put search bar and search button side by side */
.search {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}
/* control button display */
.search button {
  margin-left: 0;
  border: solid 1px rgb(163, 160, 160);
  border-radius: 0 20px 20px 0;
  background-color: rgba(82, 79, 79, 0.897);
  height: 37px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* control search input display */
.search input {
  margin-right: 0;
  padding-right: 0;
  height: 37px;
  width: 300px;
  border-radius: 20px 0 0 20px;
  border: 1px solid gray;;
  background-color: rgba(5, 5, 5, 0.011);
  color: white;
}
/* increase font size for placeholder for search */
input[placeholder="Search"] {
  padding-left: 15px;
  font-size: 20px;
}
/* remove outline when clicking on search bar and add border to allow user to see they are searching */
input:focus {
  outline: none;
  border: 2px solid rgba(22, 22, 174, 0.779);
}

/* Hide the clear (x) button in Chrome, Safari, Edge */
.search input[type="search"]::-webkit-search-clear-button,
.search input[type="search"]::-webkit-search-cancel-button,
.search input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* Hide the clear (x) button in Firefox */
.search input[type="search"]::-ms-clear {
  display: none;
}
/* manipulate the create button display */
.create-but {
  width: 80px;
  height: 37px;
  border-radius: 20px;
  background-color: rgb(55, 55, 59);
  border: none;
  color: white;
  font-weight: bold;
}
/* move account image away from the edge */
.account {
  margin: 14px 20px;
}
/* control border on account image */
.account img {
  border-radius: 50%;
}
/* side navigation display set-up */
.side-nav {
  position: fixed;
  width: 80px;
  height: 100%;
  font-size: .7rem;
  color: white;
  margin: 0;
}
/* sizing of side navigation bar svg  */
.side-nav svg {
  width: 20px;
  height: 20px;
  margin: 10px auto;
  color: white;
}
/* control list style */
.side-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px 0;
  margin: 40px 0 0 0;
  padding: 0;
}


